*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "raleway.regular";
    src: url("./fonts/raleway.regular.ttf");
  }

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #38a838;
    border-radius: 1rem;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: azure;
    padding-left: 20px;
    padding-right: 20px;
}

section{
    width: 100%;
    height: 100vh;
}
a{
    text-decoration: none;
}
.landing-page{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.top-landing-page{
    display: flex;
    flex: .2;
    align-items: center;
    justify-content: space-between;
}
.intro-text-container{
    display: flex;
}
.intro-text-container a{
    color: #218021;
    font-family:raleway;
    font-size: 80px;
    font-weight: 800;
}
#underline{
    text-decoration: underline;
    text-underline-offset: 30px;
}
.send-msg-container a{
    text-decoration: none;
    color:#218021;
    font-family: raleway;
    font-weight: 700;
    font-size: 35px;
}

.send-msg-container a:hover{cursor: pointer;
color: rgb(97, 96, 96);
}
.whatsapp-logo{
    height: 60px;
    width: 60px;
}
.bottom-landing-page{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.welcome-text-container{
    
    flex: .5;
    padding-left: 13%;
    padding-top: 100px;

}
.welcome-text{
    font-size: 70px;
    font-weight: 600;
    font-family: raleway;
    color: #0e520e;
}
.only{
    color: #29A71A;
    font-style: italic;
}
.bottom-landing-section{
    display: flex;
    flex: .7;
}
.left-bottom-landing-section{
    flex: .5;
}
.right-bottom-landing-section{
    flex: .5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.happy-cartoon{
    width: 80%;
    height: 80%;
}

.intro-text{
    font-size: 25px;
    width: 90%;
    text-align: justify;
    letter-spacing: 1.5px;
    color:#0e520e;
    font-family: raleway;

}


.form-page{
    /* padding-top: 20px; */
    background-color: white;  
    display: flex;
  
}
.left-form-page{
    flex: .5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form{
    background-color: rgb(245, 244, 244);
    width: 90%;
    height: 90%;
    box-shadow: 0px 0px 40px 0px  #38a838 ;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.labels{
    font-size: 24px;
    font-weight: 800;
    color: #0e520e;
}

#phone-no, #message{
    border: 1px solid rgb(4, 53, 4);
    outline: none;
    height: 50px;
    width: 80%;
    /* border-color: rgb(160, 165, 160); */
}

#phone-no{
    border-radius: 25px;
    font: raleway;
    font-size: 20px;
    text-align: center;
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea{
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 10px;
    font-family: raleway;
    font-size: 20px;
    max-height: 250px;
    max-width: 80%;
    min-height: 50px;
    min-width: 80%;
}

.submit-btn{
    width: 80%;
    height: 50px;
    font-family: raleway;
    background-color: transparent;
    border: solid;
    border-radius: 25px;
    border-color: #218021;
    font-weight: 600;
    font-size: 24px;
    color: #218021;
}
.submit-btn:hover{
    cursor: pointer;
    background-color: #218021;
    color: white;
    font-weight: 600;
    transition: 0.5s ease-in;
}

.right-form-page{
    flex: .5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.right-form-page div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.happy-boy{
    width: 50%;
    height: 90%;
}
.happy-boy-caption-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    width: 60%;
    line-height: 40px;
    font-style: italic;
    text-align: center;
    color: #0e520e;
}

.developer-page{
    display: flex;
    position: relative;
}
.left-developer-page{
    flex: .5;
    flex: .5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.women-pic{
    width: 80%;
    height:80%;
}


.right-developer-page{
    flex: .5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thanks-msg{
    font-size: 65px;
    width: 80%;
    font-weight: 800;
    font-style: italic;
    color: #218021;

}


#icon{
    position: absolute;
    bottom: 30px;
    right: 20px;
    height: 60px;
    width: 60px;
    border: 3px solid #29A71A;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chat-bot:hover{
    transform: scale(1.5);
    transition: .5s ease;
}

/* .popup{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
 */









 @media only screen and (max-width: 1322px){

    .thanks-msg{
        font-size: 50px;
    
    }
    .welcome-text{
        font-size: 45px;
    }
    
    .intro-text{
        font-size: 22px;    
    }
    .send-msg-container a{
        font-weight: 500;
        font-size: 20px;
    }
    .intro-text-container a{
        font-size: 30px;
        font-weight: 800;
    }
    #underline{
        text-underline-offset: 10px;
    }
    .welcome-text-container{
        padding-left: 5%;
        padding-top: 10px;
        height: 100px;
        flex: .2;
    }

}




@media only screen and (max-width: 620px){

    .thanks-msg{
        font-size: 25px;
    
    }
    .welcome-text{
        font-size: 45px;
    }
    
    .intro-text{
        font-size: 15px;    
    }
    .send-msg-container a{
        font-weight: 500;
        font-size: 20px;
    }
    .intro-text-container a{
        font-size: 30px;
        font-weight: 800;
    }
    #underline{
        text-underline-offset: 10px;
    }
    .welcome-text-container{
        padding-left: 5%;
        padding-top: 10px;
        height: 100px;
        flex: .2;
    
    }

}



@media only screen and (max-width: 539px){

    .bottom-landing-section{
        flex-direction: column;
    }

    .welcome-text{
        font-size: 30px;
        font-weight: 300;
    }
    .only{
        font-size: 30px;
        font-weight: 700;
    }
    .intro-text{
        font-size: 16px;    
    }
    .send-msg-container{
        visibility: hidden;
    }

    .form-page{
        flex-direction: column;
    }
    .form-page div{
        height: 100%;
    }
    #phone-no, #message, .submit-btn{
        height: 40px;
    }
    .labels{
        font-size: 20px;
    }
    .submit-container{
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .developer-page{
        flex-direction: column;
    }
    
 }
