@font-face {
    font-family: "raleway.regular";
    src: url("./fonts/raleway.regular.ttf");
  }

  /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
  html{
    scroll-behavior: smooth;
  }

  body {
    font-family: "raleway.regular", sans-serif;
    background-color: azure;

  }

  
  .first{
    color: #218021;
    font-family:raleway;
    font-size: 80px;
    margin-left: 30px;
  }
 
  #first-page a{
    text-decoration: none;
  }
#message-page{
    background-color: white;
}
  .send-msg{
        font-family: raleway;
        font-size: 35px;
        margin-left: 900px;
        margin-top: -110px;
        font-weight: 700;
}
.send-msgg a{
    text-decoration: none;
    color:#218021;
}
.send-msgg a:hover{
    cursor: pointer;
    color: rgb(97, 96, 96);
}
.whatsapp-logo{
    width: 80px;
    height: 80px;
    margin-left: 1400px;
    margin-top: -110px;
    position: absolute;
}
.underline{
    background-color: #218021;
    width: 250px;
    height: 12px;
    margin-left: 30px;
    border-radius: 20px;
    margin-top: -20px;
}
.first-3{
    margin-top: -40px;
}
.welcome{
    font-family: raleway;
    margin-left: 350px;
    font-size: 70px;
    margin-top: 110px;
    font-weight: 600;
}
.only{
    color:#0e520e
}

.happy-cartoon{
    width: 350px;
    height: 350px;
    margin-top: -40px;
    margin-left: 100px;
}
.expl{
    color:#0e520e;
    font-family: raleway;
    width: 900px;
    margin-left: 550px;
    font-size: 25px;
   margin-top: -300px;
   line-height: 30px;
   text-align:justify;
   letter-spacing: 1px;
}

.white-container{
    background-color: rgb(245, 244, 244);
    width: 600px;
    height: 700px;
    align-items: center;
    margin-top: 200px;
    margin-left: 450px;
    box-shadow: 0px 0px 40px 0px  #38a838 ;
    border-radius: 15px;
}
.phone-no{
    font-family: raleway;
    font-size: 35px;
    font-weight: 600;
    margin-top: -630px;
    margin-left: 620px;
}
#form{
    margin-left: 580px;
    margin-top: -600px;
    font-family: raleway;
    font-size: 32px;
    font-weight: 700;
}
#phone-no, #message{
    border: 1px solid rgb(4, 53, 4);
    outline: none;
    height: 50px;
    width: 450px;
    margin-left: -100px;
    /* border-color: rgb(160, 165, 160); */
}
#phone-no{
    border-radius: 30px;
    
}
#message{
    border-radius: 5px;

}
textarea{
 font-family: raleway;
 font-size: 20px;
 max-height: 100px;
 max-width: 450px;
 min-height: 50px;
 min-width: 300px;
 overflow: hidden;
 padding-top: 15px;
 padding-lefT: 5px;
}
input[type=number]{
    font: raleway;
    font-size: 20px;
    max-width: 500px;
    text-align: center;
   }
   input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.two-fast{
    margin-left: -100px;
}
.submit{
    width: 400px;
    height: 45px;
    font-family: raleway;
    background-color: transparent;
    border: solid;
    border-radius: 22.5px;
    border-color: #218021;
    margin-top: 70px;
    position: absolute;
    margin-left: -50px;
    font-weight: 600;
    font-size: 24px;
}
.submit:hover{
    cursor: pointer;
    background-color: #218021;
    color: white;
    font-weight: 600;
    transition: 0.5s ease-in;
}
.fomu{
    margin-left: -250px;
}
.happy-boy{
    width: 300px;
    height: 450px;
    margin-left: 1000px;
    margin-top: -500px;
}
.boy-caption{
    font-family: raleway;
    font-size: 40px;
    font-weight: 700;
    width: 500px;
    margin-lefT: 960px;
    margin-top: 0px;
}
.women-pic{
    width: 800px;
    height: 800px;
    margin-left: -50px;
}
.thanks{
    font-family: raleway;
    font-size: 65px;
    font-weight: 800;
    width: 500px;
    margin-lefT: 800px;
    margin-top: -560px;
    width: 700px;
}
.last-rect{
    /* background-color: #29A71A; */
    width: 1520px;
    height: 15px;
    margin-top: 400px;
    margin-left: -10px;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: white;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #29A71A;
    border-radius: 10px;
}

#last-page{
position: relative;
}
#icon{
    position: absolute;
    bottom: 65px;
    right: 65px;
    height: 80px;
    width: 80px;
    border: 3px solid #29A71A;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chat-bot{

}
#chat-bot:hover{
    transform: scale(1.5);
    transition: .5s ease;
}










@media only screen and (max-width: 620px){
    
    body{
        background-color: #ffffff;
    }.first{
        font-size: 30px;
        margin-top: 70px;
        margin-left: 30px;
    }
    .underline{
        width: 100px;
        height: 8px;
        margin-top: -135px;
    }
    .send-msg{
        font-size: 30px;
        margin-top: 70px;
        margin-left: 200px;
    }
    .whatsapp-logo{
        width: 40px;
        height: 40px;
        margin-left: 530px;
        margin-top: -180px;
        position: absolute;
    }
    
    .welcome{
        font-size: 50px; 
        top: 180px;
        position: absolute;
        left: -42px;
           
}
    .happy-cartoon{
        width: 250px;
        height: 250px;
       margin-top: 160px;
       margin-left: -5px;
    }
    .expl{
        font-size: 15px;
        width: 500px;
        letter-spacing: -0.5px;
        margin-top: 20px;
        margin-lefT: 40px;
        color:#0e520e;
    }
    .white-container{
        margin-lefT: 20rem;
        width: 450px;
        margin-top: 5rem;
}
.two-fast{
    font-size: 23px;
   margin-left: -15rem;
}

#phone-no, #message{
    width: 300px;
    margin-left: -13rem;
    margin-top: -10rem;
}
.happy-boy{
    width: 210px;
    height: 350px;
    margin-top: 280px;
    margin-left: 350px;
   
}
.submit{
    margin-lefT: -15rem;
}
.women-pic{
    width: 500px;
    height:500px;
    margin-left: 20px;
    margin-top: 2rem;
}
.boy-caption{
    font-size: 35px;
    font-weight: 700;
    margin-left: -5px;
    width: 380px;
    margin-top: -200px;
    line-height: 40px;
}
.thanks{
    font-size: 55px;
    width: 600px;
    margin-left: 0px;
    margin-top: -50px;
}
.last-rect{
    width: 580px;
    
}
}